@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255 255 255;
  --background-contrast-text-rgb: 51 34 34;
  --alt-background-rgb: 238 238 238;
  --background-alt-contrast-text-rgb: 0 0 0;
  --accent-light-rgb: 238 238 238;
  --accent-main-rgb: 167 29 41;
  --accent-dark-rgb: 114 28 36;
}

/* for some reson media queries are not working */
:root.dark {
  --background-rgb: 0 0 0;
  --background-contrast-text-rgb: 255 255 255;
  --alt-background-rgb: 17 17 17;
  --background-alt-contrast-text-rgb: 255 255 255;
  --accent-light-rgb: 17 17 17;
  --accent-main-rgb: 29 167 41;
  --accent-dark-rgb: 28 114 36;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
